@import "colors";

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	// background-color: rgb(189,224,254);
  background: linear-gradient(210deg, rgba(189,224,254,1) 31%, rgba(255,200,221,1) 100%);
	font-size: 62, 5%;
}
.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}
.navbar {
	position: fixed;
	width: 100%;
	height: 4em;
	top: 0;
	left: 0;
	background-color: linear-gradient(210deg, rgba(189,224,254,1) 31%, rgba(255,200,221,1) 100%);;
	&__nav {
		position: relative;
		top: 0em;
		justify-content: space-around;
		justify-items: flex-end;
		display: flex;
	}
	&__img {
		position: absolute;
		top: 0.3em;
		padding: 0.5em 2em;
		left: .5em;
		font-size: 1.5rem;
	}
	&__list {
		position: absolute;
		top: 0.4em;
		right: 1em;
		justify-content: space-around;
		display: flex;
		justify-items: flex-end;
		list-style: none;
		flex-direction: row;
		align-items: center;
		font-size: 2rem;
	}
	a {
		padding: 10px;
		font-family: "Dancing Script";
		text-decoration: none;
		color: $nav-text-color;
		&:hover {
			color: gold;
			transition: 0.5s;
		}
	}
}

.header {
	position: relative;
	width: 100%;
	height: 600px;
	max-height: 600px;
	margin-top: 4em;
	// background-color: $secondary-color;
	z-index: 10;
	&__img {
		position: absolute;
    left: 0;
		background-size: cover;
		background-position: center;
		background-image: url('/img/header-small.jpg');
		height: 100%;
		width: 100%;
		z-index: -5;
	}
	&__shadow {
		position: absolute;
		top: 0;
    left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -5;
	}
	&__title {
		position: absolute;
		z-index: 1;
		font-family: "Dancing Script";
		font-size: 6rem;
		display: flex;
		justify-content: center;
		justify-items: center;
		top: 40%;
		left: 40%;
		color: $main-title-color;
		z-index: 10;
	}
	&__text {
		position: absolute;
		text-align: center;
		top: 60%;
		left: 43%;
    transition: transform (-50%, -50%);
		font-size: 2rem;
		font-family: "Dancing Script";
		color: $main-title-color;
		z-index: 10;
	}
}

// .navigation {
//   font-family: "Dancing Script", cursive;
//   position: relative;
//   height: 100vh;
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   font-size: 2.5rem;
//   background-color: $main-color;
//   color: gold;
//   //overflow: hidden;
//   display: none;
//   .navlink {
//     padding: 1.2rem;
//     // position: absolute;
//     justify-content: space-around;
//     color: $nav-text-color;
//     cursor: pointer;
//     text-decoration: none;
//     &:hover {
//       color: #ffd60a;
//       transition: 0.5s;
//     }
//   }
// }

@media (min-width: 968px) {
  .header{
    &__img{
      background-image: url(/img/header-big.jpg);
    }
  }
}